# Importing Modules

In [1]:
from fuzzy_matcher import FuzzyMatcher

import numpy as np
import pandas as pd

# Preping a demo example

In [2]:
string_1 = 'Sparsh Dutta'
string_2 = 'Sparsh Dutta rocks!!!'
n1 = 400
n2 = int(n1/8)

base_data = pd.DataFrame()
base_data['sess_id'] = range(n1)
base_data['Combined_Drug'] = [string_1] * n1

comparator_data = pd.DataFrame()
comparator_data['drug_id'] = range(n2)
comparator_data['Asset_Name'] = [string_2] * n2

In [3]:
base_data

     sess_id Combined_Drug
0          0  Sparsh Dutta
1          1  Sparsh Dutta
2          2  Sparsh Dutta
3          3  Sparsh Dutta
4          4  Sparsh Dutta
..       ...           ...
395      395  Sparsh Dutta
396      396  Sparsh Dutta
397      397  Sparsh Dutta
398      398  Sparsh Dutta
399      399  Sparsh Dutta

[400 rows x 2 columns]

In [4]:
comparator_data

    drug_id             Asset_Name
0         0  Sparsh Dutta rocks!!!
1         1  Sparsh Dutta rocks!!!
2         2  Sparsh Dutta rocks!!!
3         3  Sparsh Dutta rocks!!!
4         4  Sparsh Dutta rocks!!!
5         5  Sparsh Dutta rocks!!!
6         6  Sparsh Dutta rocks!!!
7         7  Sparsh Dutta rocks!!!
8         8  Sparsh Dutta rocks!!!
9         9  Sparsh Dutta rocks!!!
10       10  Sparsh Dutta rocks!!!
11       11  Sparsh Dutta rocks!!!
12       12  Sparsh Dutta rocks!!!
13       13  Sparsh Dutta rocks!!!
14       14  Sparsh Dutta rocks!!!
15       15  Sparsh Dutta rocks!!!
16       16  Sparsh Dutta rocks!!!
17       17  Sparsh Dutta rocks!!!
18       18  Sparsh Dutta rocks!!!
19       19  Sparsh Dutta rocks!!!
20       20  Sparsh Dutta rocks!!!
21       21  Sparsh Dutta rocks!!!
22       22  Sparsh Dutta rocks!!!
23       23  Sparsh Dutta rocks!!!
24       24  Sparsh Dutta rocks!!!
25       25  Sparsh Dutta rocks!!!
26       26  Sparsh Dutta rocks!!!
27       27  Sparsh Dutta rocks!!!
28       28  Sparsh Dutta rocks!!!
29       29  Sparsh Dutta rocks!!!
30       30  Sparsh Dutta rocks!!!
31       31  Sparsh Dutta rocks!!!
32       32  Sparsh Dutta rocks!!!
33       33  Sparsh Dutta rocks!!!
34       34  Sparsh Dutta rocks!!!
35       35  Sparsh Dutta rocks!!!
36       36  Sparsh Dutta rocks!!!
37       37  Sparsh Dutta rocks!!!
38       38  Sparsh Dutta rocks!!!
39       39  Sparsh Dutta rocks!!!
40       40  Sparsh Dutta rocks!!!
41       41  Sparsh Dutta rocks!!!
42       42  Sparsh Dutta rocks!!!
43       43  Sparsh Dutta rocks!!!
44       44  Sparsh Dutta rocks!!!
45       45  Sparsh Dutta rocks!!!
46       46  Sparsh Dutta rocks!!!
47       47  Sparsh Dutta rocks!!!
48       48  Sparsh Dutta rocks!!!
49       49  Sparsh Dutta rocks!!!

# Intiating the Config for Fuzzy Matcher

In [5]:
fuzzy_config = {
                'base' : {
                    'data' : base_data,
                    'identifier' : 'sess_id' ,
                    'column' : 'Combined_Drug'
                },
                'comparator' : {
                    'data' : comparator_data,
                    'identifier' : 'drug_id' ,
                    'column' : 'Asset_Name'
                },
                'top_n' : 2, 
                'metric' : 'jaro-winkler'
                }

# Initiating the class
fm_extractor = FuzzyMatcher(config=fuzzy_config)
# Running the module
fm_extractor.run_accelerator()

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=400.0), HTML(value='')))

## Viewing the results of fuzzy matcher

In [6]:
fm_extractor.result_df

,sess_id,Combined_Drug,drug_id_Match_1,Asset_Name_Match_1,Score_Match_1,drug_id_Match_2,Asset_Name_Match_2,Score_Match_2
0,0,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
1,1,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
2,2,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
3,3,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
4,4,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
...,...,...,...,...,...,...,...,...
395,395,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
396,396,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
397,397,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
398,398,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91
399,399,Sparsh Dutta,49,Sparsh Dutta rocks!!!,0.91,12,Sparsh Dutta rocks!!!,0.91

## Checking onto the cache reserve

In [7]:
fm_extractor.get_fuzzy_distance.cache_info()

CacheInfo(hits=19999, misses=1, maxsize=100000, currsize=1)